.card-footer {
    background: transparent;
    border-top: 0px;
  }

  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #bfaa97;
    background-repeat: repeat;
  }
  
  footer{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #967259;
    background-repeat: repeat;
  }


 


  .card-border{
    border: none;
  }